<div class="combat-view">
  <div class="center-stage">
    <CombatView::CombatGrid @grid={{this.grid}} />
  </div>
  <div class="sidebar">
    <CombatView::ManaDisplay @mana={{this.playerManaPool}} />
    <CombatView::PlayerHand
            @cards={{this.playerHand}}
            @play={{this.playCard}}
            @salvage={{this.salvageCard}} />
  </div>
</div>