<div class="player-hand">

  {{#each @cards as |card|}}
    <div class="card {{card.color}}">
      <div class="header">{{card.name}}</div>
      <button class="effect" {{on "click" (fn @play card)}}>
        {{card.effect}}
      </button>
      <button class="footer" {{on "click" (fn @salvage card)}}>
        {{color-symbol card.color}}
      </button>
    </div>
  {{/each}}

</div>